.profile {
  max-width: 410px;
  min-height: 626px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.profile__title {
  margin: 74px auto 123px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
}

.profile__form {
  position: relative;
}

.profile__form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 17px;
}

.profile__input-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile__label {
  position: absolute;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18;
}

.profile__input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  padding-bottom: 16px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18;
  text-align: right;
}

.profile__input_underline {
  border-bottom: 1px solid #424242;
}

.profile__input:focus-visible {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.profile__validate-error {
  position: absolute;
  top: 33px;
  color: #ee3465;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.profile__button {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  max-width: 100%;
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0px;
}

.profile__button_active:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

.profile__button-edit {
  margin: 204px auto 16px;
  opacity: 0.5;
}

.profile__button_active {
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

.profile__message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.profile__message_server-error {
  color: #ee3465;
}

.profile__message_success {
  color: #3ddc84;
}

.profile__button-signout {
  color: #ee3465;
}

@media screen and (max-width: 900px) {
  .profile {
    min-height: 950px;
  }

  .profile__title {
    margin: 236px auto 96px;
  }

  .profile__button-edit {
    margin: 194px auto 16px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    max-width: 260px;
    min-height: 706px;
  }

  .profile__title {
    margin: 70px auto 80px;
  }

  .profile__button-edit {
    margin: 363px auto 16px;
    font-size: 13px;
  }
}
