.navigation__item {
  color: #fff;
  font-size: 13px;
  line-height: 1.38;
  margin-right: 16px;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.3s;
}

.navigation__item:hover {
  opacity: 0.8;
}

.navigation__main {
  display: none;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item_active {
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 159px auto 0;
  }

  .navigation__item {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.21;
    margin-right: 0;
  }

  .navigation__item_active {
    border-bottom: 2px solid #fff;
  }

  .navigation__main {
    display: block;
  }
}
