.about-me {
  max-width: calc(100% - 140px);
  margin: 110px auto 0;
}

.about-me__title {
  margin: 0;
  color: #fff;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.04em;
}

.about-me__container {
  margin: 66px auto 0;
  display: grid;
  grid-template-columns: 600px 270px;
  column-gap: 270px;
}

.about-me__name {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.about-me__photo {
  grid-row: span 4;
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__subtitle {
  margin: 18px 0 0;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0px;
}

.about-me__description {
  margin: 26px 0 0;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0px;
}

.about-me__link-github {
  margin-top: 99px;
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
}

@media screen and (max-width: 1279px) {
  .about-me {
    max-width: calc(100% - 100px);
    margin-top: 90px;
  }

  .about-me__container {
    grid-template-columns: 364px 255px;
    column-gap: calc(100% - 364px - 255px);
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 16px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px;
  }

  .about-me__link-github {
    margin-top: 87px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    max-width: calc(100% - 28px);
    margin-top: 70px;
  }

  .about-me__title {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-me__container {
    max-width: 292px;
    grid-template-columns: 292px;
    margin-top: 60px;
  }

  .about-me__name {
    margin-top: 40px;
    font-size: 30px;
    line-height: 1.21;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    order: -1;
  }

  .about-me__subtitle {
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__link-github {
    margin-top: 40px;
  }
}
